<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppGroup</key>
	<string>group.io.filen.app</string>
	<key>NSExtensionFileProviderDocumentGroup</key>
	<string>group.io.filen.app</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Filen - File Provider</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>group.io.filen.app</string>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FileProviderExtension</string>
	</dict>
	<!-- <key>MASTER_KEYS</key>
	<string>$(MASTER_KEYS)</string>
	<key>EMAIL</key>
	<string>$(EMAIL)</string>
	<key>PRIVATE_KEY</key>
	<string>$(PRIVATE_KEY)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>BASE_FOLDER_UUID</key>
	<string>$(BASE_FOLDER_UUID)</string>
	<key>AUTH_VERSION</key>
	<string>$(AUTH_VERSION)</string> -->
</dict>
</plist>
